body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-link {
  color: #61dafb;
}

main {
  padding: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px auto;
}

p{
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 350ms ease;
}

.item:hover {
  transform: translateX(-10px);
}

.item {
  width: calc(100% / 5 - 20px);
  border: 1px solid #2878F9;
  border-radius: 8px;
  margin: 8px;
  padding: 8px 16px;
}
